body{
 margin: 0;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  overflow-y: hidden;
}

.night{
  height:80vh;
  width:70vw;
  
  margin: 5rem auto;
  background: url('north1np.png');
 background-size:cover;
 position: relative;
 box-shadow: 1px 2px 60px rgba(0,0,0,0.4);
 overflow-x: hidden;
 
}
